<div class="my-4">
  <p-card [style]="{ overflow: 'hidden' }">
    <ng-template #header>
      <div class="recipe-image-container">
        @if (image()) {
          <img mat-card-image class="recipe-image" [alt]="recipe()?.name" [src]="image()" />
        } @else {
          <img mat-card-image class="recipe-image" src="/assets/images/image-placeholder.png" />
        }
      </div>
    </ng-template>
    <ng-template #title>
      <span class="text-lg font-semibold"> {{ recipe()?.name }} </span>
    </ng-template>
    <p class="mb-2 text-sm">
      {{ recipe()?.description }}
    </p>
    <div class="card flex items-center gap-2 flex-wrap">
      @for (ingredient of recipe()?.ingredients; track ingredient) {
        <p-chip class="p-chip-warn">
          <span class="text-xs">{{ ingredient }}</span>
        </p-chip>
      }
    </div>
  </p-card>
</div>
