<p-card>
  <ng-template #title>
    <div class="text-sm flex gap-2 items-center">
      <span class="font-bold">Nutrition</span> <small>(per serving)</small>
    </div>
  </ng-template>
  <div class="text-xs">
    <div class="flex justify-between mb-3">
      <span class="font-semibold">Calories</span> <span>{{ nutrition()?.calories }} kcal</span>
    </div>
    <div class="flex justify-between mb-3">
      <span class="font-semibold">Carbohydrates</span> <span>{{ nutrition()?.carbs }} g</span>
    </div>
    <div class="flex justify-between mb-3">
      <span class="font-semibold">Fat</span> <span>{{ nutrition()?.fat }} g</span>
    </div>
    <div class="flex justify-between mb-3">
      <span class="font-semibold">Protein</span> <span>{{ nutrition()?.protein }} g</span>
    </div>
  </div>
</p-card>
